header{
	position: fixed; top: 0; left: 0;
	width: 100%; height: 80px;
	.z-index-5;
	.transition();
}

.bg-logo-wrapper{
	width: 100px;
}

.bg-logo{
	padding-bottom: 34.7058824%;  // height/width of image
}

.logo {
	width: 60px;
}
