/*------------------------------------*\
	#MODALS
\*------------------------------------*/
.modal-wrapper{
	width: 100%; height: 100%;
	position: fixed; top: 0; left: 0;
	z-index: @zIndex-6;
	background: @light;
	.transition;
	overflow: hidden;
}

.modal-wrapper.hide{
	top: -100%;
}

.modal-wrapper.hide .action-buttons{
	bottom: -100px;
}

.modal{
	width: 100%; height: 100%; max-width: none; max-height: none;
	background: @light;
	overflow-y: scroll;
}

.modal .modal-content{
	max-width: 800px;
	margin: 0 auto;

	@media (min-width: @medium) {
		width: 60%;
	}
}

.modal-archivo .modal-content,
.modal-editorial .modal-content,
.modal-taller .modal-content{ height: 100%; }

.close-modal .controls a{color: @secondary; text-decoration: none;}