.heroes{

}

.hero{
	min-height: 100vh;
	background-size: cover; background-position: center center;
	position: relative;

	@media (min-width: @small){
		height: 35vh;
	}
	@media (min-width: @medium){
		height: 35vh;
	}
	@media (min-width: @large){
		height: 35vh;
	}
	@media (min-width: @xlarge){
		height: 35vh;
	}

}

.hero-home {
	background-image: url('images/hero.jpg');
}